@media all and (max-width: 800px)
   {body {margin: 8% 6%;}}
@media all and (min-width: 800px)
   {body {margin: 4% 16%;}}

@font-face
   {font-family: 'Roboto Slab';
    src: url(./font/roboto.ttf);}
@font-face
   {font-family: 'Roboto Slab';
    src: url(./font/roboto-b.ttf);
    font-weight: bold;}

.center {text-align: center;}
.right {text-align: right;}

body
   {font-family: 'Roboto Slab', sans-serif;
    background-color: #ffffff;
    color: #333333;}
h1, h2, h3, h4
   {line-height: 1.0rem;}
h1 {font-size: 2.2rem;}
h2 {font-size: 2.0rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
p {line-height: 1.6rem;}
a:link {color: #3366cc;}
ul {line-height: 1.6rem;}
code, pre
   {font-family: 'JetBrains Mono', sans-serif;
    font-size: 0.9rem;
    font-style: normal;}
code
   {color: #ffffff;
    background-color: #666666;}
pre
   {padding: 0.6rem 0.8rem;
    color: #666666;
    border: 1px solid #cccccc;
    line-height: 1.4rem;
    text-align: left;}
